<div id="resetPasswordModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="signIn popup popup-box popup-user-status">
				<h2 class="popup-box-title">Reset Your Password</h2>
				<a class="popup-close sprite-orange" data-dismiss="modal"
					aria-hidden="true">&times;</a>
				<div class="popup-box-content form">
					<div ng-hide="isReseting">
						<div ng-hide="isNext">
							<div class="hinted-container">
								<input type="email" ng-model="user.email"
									ng-class="usernameEmail" id="popup-register-email"
									placeholder="Your email" tabindex="2"
									ng-blur="verifyEmail(true)">

								<div ng-class="emailclass" title="email" id="hint-sign-1"></div>
							</div>

							<div class="align-center">
								<button class="btn big" ng-click="gotoNext()"
									ng-disabled="isNexting">
									Next
									<div class="round-icon sprite-blue"></div>
								</button>
							</div>
						</div>
						<div ng-show="isNext">
							<div class="align-center">
								<p>Click sent to reset your password</p>
								<button class="btn big" ng-disabled="isReseted"
									ng-click="resetPassword()">
									Send
									<div class="round-icon sprite-blue"></div>
								</button>
							</div>
						</div>
					</div>
					<div ng-show="isReseting">
						<div class="hinted-container">
							<input type="password" maxlength="20"
								ng-class="usernamePassword1" id="popup-register-password"
								placeholder="New Password" ng-model="user.password1"
								tabindex="3" ng-blur="verifyPassword1()">

							<div ng-class="passwordclass1" title="password" id="hint-sign-2"></div>
						</div>
						<div class="hinted-container">
							<input type="password" maxlength="20"
								ng-class="usernamePassword2" id="popup-register-password"
								placeholder="Confirm New Password" ng-model="user.password2"
								tabindex="3" ng-blur="verifyPassword2()">

							<div ng-class="passwordclass2" title="password" id="hint-sign-2"></div>
						</div>
						<div class="align-center">
							<button class="btn big" ng-click="reset()">
								Reset
								<div class="round-icon sprite-blue"></div>
							</button>
						</div>
					</div>
				</div>
				<div id="popup-login-register" ng-hide="!isReseting"
					class="popup-footer">
					Remember your password? <a href="#"
						ng-click="switchModal('signIn')">Log in here</a>
				</div>
			</div>
		</div>
	</div>
</div>